.git
.gitignore
.venv
.dist
__pycache__
**/__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ipynb_checkpoints
*.ipynb
ETFs
data/Stocks
data/ETFs
data/raw
README.md
BUSINESS_LOGIC.md
frontend
Dockerfile
docker-compose.yml
